<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>TechService</Name>
    <Version>1.0.0.0</Version>
    <Title>TechService</Title>
    <Publisher>TechService</Publisher>
    <StartMenuDir>TechService</StartMenuDir>
    <TargetDir>@RootDir@/TechService</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <TitleColor>#FFFFFF</TitleColor>
    <ControlScript>controller.qs</ControlScript>
    <RunProgram>@TargetDir@/TechService.exe</RunProgram>
    <RunProgramDescription>Запустить TechService после установки</RunProgramDescription>
</Installer>